{% extends "home/home.html" %}

{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/fotos-gratis/menino-animado-em-pe-e-mostrando-gesto-bem_171337-16369.jpg?t=st=1655051920~exp=1655052520~hmac=3831a63ca512e33adec86f66304d933bbe1153c6f7f029f892523ec3c222e90c&w=740" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/retrato-de-um-menino-sorridente-mostrando-os-polegares_171337-16373.jpg?w=740&t=st=1655066746~exp=1655067346~hmac=a190877659d5d0b278bdb6c47ff0b11bca220061ed5f7cb5f780af6a26d68aa3" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/sorridente-menina-crianca-em-pe-isolado_171337-3388.jpg?w=740&t=st=1655066841~exp=1655067441~hmac=ff9a55e4dab7752c3958933a48cbf6ecc97bd37c9f5cc4383d85b76669709c0b" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/retrato-de-uma-menina-alegre-isolada-sobre-uma-parede-azul-fazendo-careta-gesto-de-paz_171337-100864.jpg?w=740" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menino-feliz-surpreso-apontando-os-dedos-para-cima_171337-16396.jpg?t=st=1655066847~exp=1655067447~hmac=ddd98b30534f0ea666656721b74d59cec770f1b37768568cdd6514732d8b5062&w=740" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/retrato-de-uma-crianca-sorridente-em-pe_171337-7107.jpg?w=740&t=st=1655066851~exp=1655067451~hmac=aad077ab3e305d29edbbea6b67da88a0f6804996ea9f926c68f2e8365af358cd" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/gritando-animado-menina-falando-pelo-telefone-retro-vermelho_171337-3427.jpg?w=740&t=st=1655066853~exp=1655067453~hmac=3552dfd855b3148ea864e0fadc04309853947d10f022f62650be9807838326a2" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menina-bonitinha-de-oculos-apontando_171337-3444.jpg?w=740&t=st=1655066749~exp=1655067349~hmac=0bb9db3db690b10297882af2233ff1db726e3ed2fb1f51dab05288299a21f6bb" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menino-feliz-sorridente-apontando-os-dedos-para-cima-na-copyspace_171337-16394.jpg?w=740&t=st=1655066754~exp=1655067354~hmac=5b89849e2c85ced2bf783c59d1348cdf9326e875f00819c37028ee448fb90cff" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menino-surpreso-em-pe-e-apontando-o-dedo-para-longe_171337-16368.jpg?w=740&t=st=1655066755~exp=1655067355~hmac=39d092d4175af7d84eef3f4809104eb36d96253d755b9f4b61983edbbd9401a1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/crianca-sorridente-em-pe-com-as-maos-espalhadas_171337-16364.jpg?w=740&t=st=1655066757~exp=1655067357~hmac=de6f0e18defcc22a9b00041ec3380b8754fe17cdbec828dd29059b7c0d8b65ac" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menina-feliz-mostrando-o-gesto-bem_171337-3396.jpg?w=740&t=st=1655066760~exp=1655067360~hmac=9bf698a501cc6b283e8aab4d7351e06a5f823f5a5ab2f3bde6aab836f89ddb45" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menina-crianca-cobrindo-os-olhos-com-laranja_171337-3407.jpg?w=740&t=st=1655066766~exp=1655067366~hmac=4a48b23b3cce822d9feddbadead0b35d07f01c261e130f5198eedc6fbf0ae496" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/linda-garota-comendo-pipoca_1303-13219.jpg?t=st=1655066766~exp=1655067366~hmac=64796026cbbf2bef62632d21183dd03a46af40317a123959493e0ae849db537f&w=740" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/linda-garota-comendo-pipoca_1303-13218.jpg?w=740&t=st=1655067217~exp=1655067817~hmac=cdbfbcfbc66297dde248c666dfc164faa158dbfd68bdf238fd5d1a9b1d4740c6" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/linda-garota-comendo-pipoca_1303-13216.jpg?w=740&t=st=1655067219~exp=1655067819~hmac=8203f907c8baf54b02c5100f4a7ec285479163b3f4f81863c3ce55b65736a9d1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menino-feliz-sorridente-apontando-os-dedos-para-cima-na-copyspace_171337-16394.jpg?w=740&t=st=1655066778~exp=1655067378~hmac=a75ad4dfc49aab76b62bd84150e4dcb46797392849eeb4ccab07da48d26bbd52" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/bruxas-ressentidas-com-fantasia-preta-de-halloween-olhando-umas-para-as-outras-isoladas-sobre-a-parede-de-abobora-laranja_171337-93527.jpg?w=740" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/aderecos-de-dia-dos-namorados-divertidos-garoto-bonito-sorrindo-com-aderecos-de-festa-chique-em-fundo-laranja-menina-engracada-segurando-aderecos-de-cabine-de-fotos-em-forma-de-coracao-na-vara-crianca-feliz-com-aderecos-de-oculos_474717-52653.jpg?w=740" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/retrato-de-uma-crianca-esperta-animado-apontando-o-dedo-para-cima_171337-7114.jpg?w=740&t=st=1655066779~exp=1655067379~hmac=f1a66cb8350d508fe97060ecab06da515f6b47d0eb3b81fbd0951a8ebf36f01b" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/menino-surpreso-em-pe-e-apontando-o-dedo-para-longe_171337-16368.jpg?w=740&t=st=1655066781~exp=1655067381~hmac=5f4cf0c8fe1fdd7b830350b0d2ae2a4539af7a9288b859d9ca2a88cd22f67d42" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/crianca-sorridente-em-pe-com-as-maos-espalhadas_171337-16364.jpg?w=740&t=st=1655066782~exp=1655067382~hmac=5a9d8b071ab91c1d816106d66e5997321a3f64c1b8357d4356e1107bf0cb55bb" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/boas-garotas-multinacionais-em-trajes-pretos-de-halloween-sorrindo-e-se-divertindo-isoladas-sobre-a-parede-de-abobora-laranja_171337-93526.jpg?w=740" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/fotos-gratis/muito-jovem-rapaz-cacheado-vestido-de-vermelho-na-diversao-de-expressao-infantil-de-parede-amarela_155003-40396.jpg?t=st=1655066787~exp=1655067387~hmac=80adf130a383d0c65500216136508cfda593995868a9527c8395101922b6ea0a&w=740" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}