{% extends "home/home.html" %}

{% block body %}

{% for postagem in postagens %}
<div class="card text-bg-light text-center border-dark mb-3" style="max-width: 100rem;">
  <div class="card-header border-dark">
    <h4 class="card-title">{{postagem.titulo|upper}}</h4>
  </div>
  <div class="card-body">
    <p class="card-text">{{postagem.conteudo}}</p>
  </div>
  <div class="card-footer border-dark text-end">
    <small class="card-text"><i class="fa-solid fa-clock"></i>  Dia {{postagem.criado_em}}</small>
  </div>
</div>
{% endfor %}

{% endblock %}
